<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvS-jFsWntw5RJMbP0gpyqaHA1RZoK9P4</string>
	<key>GCM_SENDER_ID</key>
	<string>519016317312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.automationland.ccmg</string>
	<key>PROJECT_ID</key>
	<string>ccmg-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ccmg-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519016317312:ios:6cf004b03fd1239cc38165</string>
</dict>
</plist>